@import "./base.css";

.menu-instruction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ff9800;
}

.menu-category > li {
    display: inline;   
}

.menu-category > li:not(:first-child) {
    margin-left: 50px;
}

.menu-category > li:not(.selected) {
    font-size: 18px;
}

.menu-category > li.selected {
    font-size: 24px;
}

.menu-listing {
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
}

.menu-listing-col {
    padding-left: 0;
}

.menu-listing-col > li {
    font-size: 24px;
    margin-bottom: 40px;
    list-style: none;
}

.menu-listing-left {
    float: left;
}

.menu-listing-right {
    float: right;
}
